version: "3.9"

services:
  postgres:
    container_name: go-server-pg
    image: postgres:15-alpine
    ports:
      - 5432:5432
    volumes:
      - ../db/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=secret
      - POSTGRES_USER=user
      - POSTGRES_DB=db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d db"]
      interval: 1s
      timeout: 2s
      retries: 5
